body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* los botones  */
.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
}
.boton {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}
/* a los hijos de los botones */
.boton:nth-child(2) {
  background-color: #f44336;
}

.boton:nth-child(1) {
  background-color: #4caf50;
}
.boton:nth-child(3) {
  background-color: #ffeb3b;
  color: black;
}
#myCanvas {
  width: 400px;
  height: 400px;
  display: grid;
  border: solid black;
}
* {
  padding: 0;
  margin: 0;
}
canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}
